#account_page.account_page
  .account_page__inner
    .account_page__inner--left.account_page__header
      %h2 メール認証が完了しました。
    .account_page__inner--right.user-form
      = link_to "ログインページへ", new_session_path(resource_name), class: "btn"