%p
  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
%br
  【Cyaios】パスワード再設定のお知らせ
%br
  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  %br
  #{@resource.user_name}様
%p 下記URLより、再度パスワードを設定してください。
%p= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token)
