#account_page.account_page
  .account_page__inner
    .account_page__inner--left.account_page__header
      %h2 メールの送信が完了しました。
    .account_page__inner--right.user-form
      %p
        パスワード再設定ページへのリンクを記載したメールをお送りしました。
        %br 再設定メールが届かない場合は、迷惑メールボックスの設定解除、cyaios.comからのドメイン着信許可の設定をご確認ください。